beautifulsoup4==4.6.0
flask>=0.12.3
tweepy==4.14.0
gunicorn==23.0.0
flask-cors==6.0.0
requests>=2.32.2
Mastodon.py==1.6.3
lxml==5.1.0
cssselect==1.2.0
cloudscraper==1.2.71
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability