<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DolarPy</title>
 <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.green-deep_purple.min.css" /> 
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
<!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/pure-min.css"> -->
<script src="/js/jquery.min.js"></script>
<script src="/js/autoNumeric-min.js"></script>

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<!-- Square card -->
<style>
.dolarpy-card-square.mdl-card {
  width: 320px;
  height: 230px;
}
.dolarpy-card-square > .mdl-card__title {
  color: #fff;
  padding-bottom: 16px;
  padding-top: 10px;
  background:
    /*url('/images/dog.png') */
    #46B6AC;
}
.mdl-card__title-text.derecha {
	margin-left: auto;
	font-weight: bold;
}
.mdl-textfield__input.grande{
	font-size: 40px;
}
</style>
</head>
<body style="background-color:#EFEFEF;">
<h1>💸 DolarPy 💸</h1>

<div class="mdl-textfield mdl-js-textfield">
	<input class="mdl-textfield__input grande" type="text" id="cuanto" data-a-sign="$ " data-a-dec="," data-a-sep="." placeholder="Ingresa el monto"><!-- ₲ -->
	<div class="mdl-tooltip" for="cuanto">
		<strong>Ingresa el monto en dolares para calcular</strong>
	</div>
</div>


<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col">

	<div class="dolarpy-card-square mdl-card mdl-shadow--8dp">
	  <div class="mdl-card__title mdl-card--expand">
	    <p class="mdl-card__title-text">Compra: 
	    <div class="mdl-card__title-text derecha" id="cchaco"></div></p> 
	  </div>
	  <div class="mdl-card__title mdl-card--expand">
	    <p class="mdl-card__title-text">Venta: 
	    <div class="mdl-card__title-text derecha" id="vchaco"></div></p>
	    </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      Cambios Chaco
	    </a>
	  </div>
	</div>  	

  </div>

  <div class="mdl-cell mdl-cell--3-col">

	<div class="dolarpy-card-square mdl-card mdl-shadow--8dp">
	  <div class="mdl-card__title mdl-card--expand">
	    <p class="mdl-card__title-text">Compra: 
	    <div class="mdl-card__title-text derecha" id="calberdi"></div></p> 
	  </div>
	  <div class="mdl-card__title mdl-card--expand">
	    <p class="mdl-card__title-text">Venta: 
	    <div class="mdl-card__title-text derecha" id="valberdi"></div></p>
	    </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      Cambios Alberdi
	    </a>
	  </div>
	</div>  	

  </div>

  <div class="mdl-cell mdl-cell--3-col">

	<div class="dolarpy-card-square mdl-card mdl-shadow--8dp">
	  <div class="mdl-card__title mdl-card--expand">
	    <p class="mdl-card__title-text">Compra: 
	    <div class="mdl-card__title-text derecha" id="cmaxi"></div></p> 
	  </div>
	  <div class="mdl-card__title mdl-card--expand">
	    <p class="mdl-card__title-text">Venta: 
	    <div class="mdl-card__title-text derecha" id="vmaxi"></div></p>
	    </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      Maxicambios
	    </a>
	  </div>
	</div>  	

  </div>

<div class="mdl-cell mdl-cell--3-col">

	<div class="dolarpy-card-square mdl-card mdl-shadow--8dp">
	  <div class="mdl-card__title mdl-card--expand">
	    <p class="mdl-card__title-text">Compra: 
	    <div class="mdl-card__title-text derecha" id="cbcp"></div></p> 
	  </div>
	  <div class="mdl-card__title mdl-card--expand">
	    <p class="mdl-card__title-text">Venta: 
	    <div class="mdl-card__title-text derecha" id="vbcp"></div></p>
	    </div>
	   <div class="mdl-card__title mdl-card--expand">
	    <p class="mdl-card__title-text">Ref Día: 
	    <div class="mdl-card__title-text derecha"><span id="refbcp"></span></div></p>
	    </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      BCP
	    </a>
	  </div>
	</div>  	

  </div>
    
</div>
<p>Actualizado: <span id="updated"></span></p>
<h4 id="algo">Webservice en <a href="/api/1.0/">http://dolar.melizeche.com/api/1.0/</a></h4>
<h4 id="algo">Código en <a href="https://github.com/melizeche/dolarPy">Github</a></h4>

<script type="text/javascript">
/*
Sorry, I suck at javascript :'(
*/
var cchaco;
var vchaco;
var calberdi;
var valberdi;
var cmaxi;
var vmaxi;
var cbcp;
var vbcp;
var refbcp;
var updated;

	function get_coti(){
		$.get("/api/1.0/", 
				function(json){
					console.log(json);
					
					cchaco = json.dolarpy.cambioschaco.compra;
					vchaco = json.dolarpy.cambioschaco.venta;
					calberdi = json.dolarpy.cambiosalberdi.compra;
					valberdi = json.dolarpy.cambiosalberdi.venta;
					cmaxi = json.dolarpy.maxicambios.compra;
					vmaxi = json.dolarpy.maxicambios.venta;
					cbcp = json.dolarpy.bcp.compra;
					vbcp = json.dolarpy.bcp.venta;
					refbcp = json.dolarpy.bcp.referencial_diario;

					$("#cchaco").text(cchaco).autoNumeric('init');
					$("#vchaco").text(vchaco).autoNumeric('init');
					$("#calberdi").text(calberdi).autoNumeric('init');
					$("#valberdi").text(valberdi).autoNumeric('init');
					$("#cmaxi").text(cmaxi).autoNumeric('init');
					$("#vmaxi").text(vmaxi).autoNumeric('init');
					$("#cbcp").text(cbcp).autoNumeric('init');
					$("#vbcp").text(vbcp).autoNumeric('init');
					$("#refbcp").text(refbcp).autoNumeric('init');
					$("#cuanto").autoNumeric('init');
					$("#updated").text(json.updated);
				}
			);
	}

	$(document).ready(function () {
		console.log("YA!");
		$.extend($.fn.autoNumeric.defaults, {              
						aSep: '.',              
						aDec: ',',
						aPad: 'false',
						aSign: '₲ ',
					});

		get_coti();
		$("#cuanto").on('keyup',function(e) {
			var valor;
			var calc;

			
			valor = $("#cuanto").autoNumeric('get') //val()
			valor = (valor==0 ? 1 : valor);
			console.log(valor*refbcp);
			$("#refbcp").autoNumeric('destroy');
			$("#refbcp").text(valor*refbcp).autoNumeric('init');
			$("#cbcp").autoNumeric('destroy');
			$("#cbcp").text(valor*cbcp).autoNumeric('init');
			$("#vbcp").autoNumeric('destroy');
			$("#vbcp").text(valor*vbcp).autoNumeric('init');
			$("#refbcp").autoNumeric('destroy');
			$("#refbcp").text(valor*refbcp).autoNumeric('init');
			$("#cchaco").autoNumeric('destroy');
			$("#cchaco").text(valor*cchaco).autoNumeric('init');
			$("#vchaco").autoNumeric('destroy');
			$("#vchaco").text(valor*vchaco).autoNumeric('init');
			$("#cmaxi").autoNumeric('destroy');
			$("#cmaxi").text(valor*cmaxi).autoNumeric('init');
			$("#vmaxi").autoNumeric('destroy');
			$("#vmaxi").text(valor*vmaxi).autoNumeric('init');
			$("#calberdi").autoNumeric('destroy');
			$("#calberdi").text(valor*calberdi).autoNumeric('init');
			$("#valberdi").autoNumeric('destroy');
			$("#valberdi").text(valor*valberdi).autoNumeric('init');
						
		});
	});

</script>
</body>
</html>